{% extends '::base.html.twig' %}
{% block title %}{{ parent() }} - Suppression{% endblock %}
{% block stylesheets %}{{ parent() }}
{%  stylesheets '@AstonArticleBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link href="{{ asset_url }}" rel="stylesheet" /> 
{%  endstylesheets %}
{% endblock %}


{% block logo %}{{ parent() }}{% endblock %}
{% block menu %}<div class="menu">{{ parent() }} <a href="{{ path('aston_article_ajouter') }}">Ajout Article</a> </div>{% endblock %}
{% block header %}<h1>Confirmation de Suppression</h1>{% endblock %}
{% block content %}
	<p><code>L'article a bien été supprimé</code></p>
	<p><a href="{{ path('aston_article_homepage') }}">Retour à l'accueil</a></p>
{% endblock %}
{% block footer %}<p>Les méthodes et les outils des professionnels expliqués à tous</p>{% endblock %}
